@charset "utf-8";

// Customization
@import "~bulma/sass/utilities/initial-variables";

$orange: #E06B33;
$green: #609581;
$yellow: #DCA043; // #EDDD5D
$turquoise: #29C797;
$cyan: #25A6AC;
$blue: #197B9A;
$purple: #222858;
$red: #ff3860;

@import "~bulma/bulma";
