<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- head.meta %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% if (production) { %>
    <link rel="stylesheet" href="/styles.css">
    <% } %>
    <%- head.link %>
    <%- head.title %>
  </head>
  <body>
    <div id="content"><%- html %></div>
    <script>
      window.__APOLLO_STATE__ = <%- state %>
    </script>
    <script src="/vendor.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
